# Ambiente Virtual Python
.venv/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
__pycache__

# Dependências do Node.js
node_modules/

# Arquivos compilados do TypeScript

# Ignora a pasta inteira onde o .js é gerado
app/static/js/

# Pasta de instância do Flask (para segredos e DB local no futuro)
instance/

# Arquivos de ambiente (nunca comitar segredos)
.env*

# Logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de cache do VS Code (exceto configurações de debug e tarefas)
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json