# Ambiente Virtual Python
.venv/
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Dependências do Node.js
node_modules/

# Arquivos compilados do TypeScript
# Ignora a pasta inteira onde os .js são gerados
app/static/js/

# Pasta de instância do Flask
instance/

# Arquivos de ambiente (nunca comitar segredos)
.env*

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log