{# app/templates/partials/_geral_panel.html #}

<div class="row g-4 mt-2">

    <div class="col-lg-3 d-none d-lg-block">
        <div class="card shadow-sm h-100">
            <div class="card-body d-flex justify-content-center align-items-center">
                {% if bumpkin_image_url %}
                    <img src="{{ bumpkin_image_url }}" alt="Imagem do Bumpkin" style="width: 100%; max-width: 150px; image-rendering: pixelated;">
                {% else %}
                    <p class="text-muted small">Imagem não disponível.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-9"> 
        <div class="card shadow-sm mb-4">
            <div class="card-header">
                <h5 class="mb-0 fw-bold"><i class="bi bi-info-circle-fill me-2"></i>Informações Gerais</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-center mb-3 mb-md-0">
                        <img src="{{ url_for('static', filename='images/resources/Flower.png') }}" alt="SFL Token" class="icon icon-3x me-3">
                        <div>
                            <h6 class="card-title mb-0">Saldo</h6>
                            <span class="card-text fs-5 fw-bold">{{ sfl | generate_currency_html | safe }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center mb-3 mb-md-0">
                        <img src="{{ url_for('static', filename='images/resources/Coins.png') }}" alt="Moedas" class="icon icon-3x me-3">
                        <div>
                            <h6 class="card-title mb-0">Moedas</h6>
                            <span class="card-text fs-5 fw-bold">{{ "{:,}".format(coins|int).replace(",", ".") }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center">
                         <img src="{{ url_for('static', filename='images/resources/Gem.png') }}" alt="Bumpkin" class="icon icon-3x me-3">
                        <div>
                            <h6 class="card-title mb-0">Nível do Bumpkin</h6>
                            <span class="card-text fs-5 fw-bold">{{ bumpkin_level }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card shadow-sm">
            <div class="card-header">
                <h5 class="mb-0 fw-bold"><i class="bi bi-box-seam-fill me-2"></i>Resumo do Inventário</h5>
            </div>
            </div>
    </div>
</div>